body{
    color: black;
       
}
.text{
    text-align: center;
    background-color: black; 
    padding: 227px;
    color: aliceblue;
    font-size: 80px;
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 68, 255),
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}